@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
 font-family: 'Quicksand', sans-serif;
 height: 100vh;
 line-height: 1.6;
 overflow: hidden;
 background: #f9f9f9;
 color: #053247;
}

/*Navigation bar style*/
.content{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height:15%;
    background: rgba(0, 0, 0, 0.6);
}

.navbar div img{
    float: left;
    border-radius: 50%;
    width: 80px;
    margin-top: 5px;
    position:fixed;
    margin-left: 10px;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: right;
}

.navbar ul li{
    margin: 30px 20px;
    padding-right: 30px;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    align-items:flex-end;
    color: white;
}

.navbar ul li a:hover{
    color: aquamarine;
}

/*Home page style*/
#home{
    margin-top: 85px;
    background: #053247 ;
    border-top: 5px solid #053247;
    text-align: center;
    padding: 100px ;
    width: 100%;
    border-radius: 5px;
}

.profile-pic{
    width: 100px;
    height:100px;
    position: center;
    border-radius: 50%;
    border: 2px solid #053247;
}

#home h1{
    padding-top: 5px ;
    color: whitesmoke ;
    margin-top: 60px ;
    font-size: 4em ;
    margin-bottom: 10px;
    text-align:center ;
}

#home .notes{
    color: #fff;
    max-width: 1000px;
    margin: auto;
    padding: 10px 50px;
    font-size:1.2em;
    text-align: center;
}
/*About Me section style*/
#about_me h1{
    color: #02202e;
    font-size: 2em;
}
#about_me .notes{
    color: #02202e;
    max-width: 1000px;
    margin: auto;
    padding: 10px 50px;
    font-size:1.2em;
    text-align: center;

}

/*Goals Page Style*/
.cards{
    background: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0;
    grid-gap:2em;
}

#goals{
    background: #f9f9f9;
    width: 100%;
    padding: 40px;
    border-radius: 5px;
    margin-top: 10px;
}

#goals h1{
    color: #02202e;
    padding-bottom: 30px;

}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: #02202e;
    color:#f9f9f9 ;
    transition: transform 1s ease-in-out;
    padding-bottom: 10px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card img{
    border-radius: 5px 5px 0 0;
    opacity: 0.6;
    width: 100%;
}

.container{
    display:flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}

/*Skills Section Style*/
#skills{
    width: 100%;
    height:420px;
    background: #fff;
    margin: 100px auto;
    padding: 25px;
}

.progress-bar{
    width: 100%;
    height: 20px;
    background: #eeeeee;
    box-shadow: inset 1px 2px 3px #d8d8d8;
    padding:1px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.progress{
    border-radius: 10px;
    display: inline-block;
    height: 100%;
}

.progress-html{
 background-color: #053247;
 margin: 0;
 padding: 0;
}
.progress-css{
 background-color: aqua;
 margin: 0;
 padding: 0;
}

.progress-javascript{
 background-color: red;
 margin: 0;
 padding: 0;
}

.progress-github{
 background-color: black;
 margin: 0;
 padding: 0;
}

.progress-vscode{
 background-color: azure;
 margin: 0;
 padding: 0;
}

.progress-css, .progress-html, .progress-github, .progress-javascript, .progress-vscode{
    -webkit-transition: width 4s ease !important;
    -moz-transition: width 4s ease !important;
    -o-transition: width 4s ease !important;
    transition: width 4s ease !important;
}


/*Socials Section Style*/
#contacts{
    padding: 8px 0;
    background: #053247;
}

.socials{
    list-style: none;
    width: 400px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

.social{
    width: 100px;
    padding: 30px;
    float: left;
    text-align: center
}
.social a{
    color: #f9f9f9;
    font-size: 60px;
    transition: color .4s ease;
}

.social a:hover{
    color: aquamarine;
}


.blank{
    clear:both;
}

/*Footer*/
footer{
    background:#f9f9f9;
    text-align: center;
    padding: 20px 0;
    text-transform: bold;
    color: #053247;
}



@media screen and (max-width:480px){
    .navbar div img{
        width: 70px;
        margin-left: 10px;
        
    }

    .navbar ul li{
        display: none;
    }

    body{
        width:100%;
    }  

    .socials{
        width:100%;
    }
        
}
